.sign {
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  justify-content: center;
  align-items: center;

  &__login,
  &__signup {
    display: flex;
    flex-direction: column;
    width: 400px;

    & > input {
      width: 100%;
      padding: 5px 3px;
      margin: 10px 0;
      height: 40px;
      border: none;
      background: none;
      border-bottom: 1px solid $body;
      font-size: 15px;

      &::placeholder {
        color: $placeholder;
      }

      &:invalid + button[type='submit'] {
        background-color: $primary-2;
      }
    }

    &__submit {
      background-color: $primary;
      height: 40px;
      font-size: 15px;
      color: #fff;
      margin: 20px 0 80px;
      border: none;
      border-radius: 5px;
    }
  }

  &__github {
    width: 400px;
    height: 40px;
    border: 1px solid $body;
    border-radius: 5px;

    font-size: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
      width: 24px;
      height: 24px;
      margin-right: 12px;

      background: center / contain no-repeat
        url('../../public/images/github.png');
    }
  }

  &__signup-link {
    margin-top: 32px;
    font-size: 14px;
    color: $body;

    & a {
      margin-left: 6px;
      color: $primary;
    }
  }
}
