$week-height: 48px;

.calendar-tab {
  width: 848px;
  margin: 0 auto;
  transform: translateY(-$week-height / 2);
}

.calendar {
  &__week {
    display: flex;
    align-items: center;
    height: $week-height;

    color: $label;
    background-color: $off-white;
    font-size: 16px;

    border: 1px solid $line;
    @include elevation-1;

    &__day {
      flex: 1 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
